<nav>
  <ul>
    {% for item in navigation %}
      <li class="nav-item nav-level-{{item.navLevel}}">
        <a class="nav-link" href="{{item.navLink}}">{{item.navLinkTitle}}</a>
      </li>
    {% endfor %}
  </ul>
</nav>
